html,body{
  font-family: 'Lobster', sans-serif;
}
body{
  background-image: url("http://i.imgur.com/IUIinhY.jpg");
  background-size:cover;
}
.main{
  color:yellow;
  text-align: center;

}
.main p{
  width:550px;
  margin:auto;
}
.header{
  background-color:rgba(0, 0, 0, 0.9);
  height:30px;
  display:flex;
  justify-content:space-around;
  color:yellow;
  font-size:18px;
  position:fixed absolute;
}

.container{
  border:solid yellow 1px;
  margin-top: 50px;
  width:600px;
  background-color:rgba(0,0,0,0.8);

}
.row{
  line-height: 15px;
}
.col-10 h3{
  color:#e9a610;
}
.col-10{
  color:yellow;
  margin-top:5px;
}
.col-2{
  margin-top:35px;
  color:#b11e1e;
}
.badge{
  color:teal;
  background-color:orange;
}
